# Bibliotecas

In [1]:
# Si no tienen instalada alguna biblioteca, pueden usar el siguiente codigo para hacerlo
# import sys
# !{sys.executable} -m pip install psycopg2

In [18]:
import numpy    as np                # Biblioteca para álgebra lineal 
import pandas   as pd                # Biblioteca para trabajar con DataFrames
import psycopg2 as ps                # Biblioteca para conectarse a PostgreSQL
from sqlalchemy import create_engine # Función para crear un motor de SQL

# Ligas de interés
# https://www.dataquest.io/blog/loading-data-into-postgres/
# https://www.laurivan.com/load-a-csv-file-with-header-in-postgres-via-psycopg/
# https://pynative.com/python-postgresql-select-data-from-table/
# https://pbpython.com/pandas-list-dict.html

# Psycopg2

In [3]:
# Forma segura de realizar cualquier conexion
# Sin embargo, 
with ps.connect(dbname='Seminario2019',user='postgres',password='mike123',host='localhost',port=5432) as conexion:
    with conexion.cursor() as cursor:
        pass

In [4]:
# Creamos una conexion a nuestro servidor que hemos creado
conexion = ps.connect(dbname='Seminario2019',user='postgres',password='mike123',host='localhost',port=5432)
cursor   = conexion.cursor()

In [53]:
# Creamos una tabla para posteriormente importarla
# En caso de que exista ya, la borramos para que no haya algun error
cursor.execute("DROP TABLE IF EXISTS IRIS")
cursor.execute("""
CREATE TABLE IRIS(
    SEPAL_LENGTH float,
    SEPAL_WIDTH  float,
    PETAL_LENGTH float,
    PETAL_WIDTH  float,
    SPECIES      varchar(20) )""")
# Importamos mediante un archivo de csv
# Este método funciona para cualquier sistema operativo
with open('iris.csv', 'r') as archivo:
    # La siguiente linea solo la usamos si el archivo tiene encabezados / titulos en la primer columnas
    next(archivo)  
    # Copiamos los datos del archivo y actualizamos la conexion
    cursor.copy_from( file = archivo, table = 'iris', sep = ',' )
    conexion.commit()

In [14]:
# Podemos traer los datos con una consulta sql como la siguiente:
cursor.execute("SELECT * FROM IRIS")
#cursor.fetchall()    # Trae todos los registros
cursor.fetchmany(10) # Trae los primeros 'n' registros
#cursor.fetchone()   # Trae el primer registro

[(5.1, 3.5, 1.4, 0.2, 'setosa'),
 (4.9, 3.0, 1.4, 0.2, 'setosa'),
 (4.7, 3.2, 1.3, 0.2, 'setosa'),
 (4.6, 3.1, 1.5, 0.2, 'setosa'),
 (5.0, 3.6, 1.4, 0.2, 'setosa'),
 (5.4, 3.9, 1.7, 0.4, 'setosa'),
 (4.6, 3.4, 1.4, 0.3, 'setosa'),
 (5.0, 3.4, 1.5, 0.2, 'setosa'),
 (4.4, 2.9, 1.4, 0.2, 'setosa'),
 (4.9, 3.1, 1.5, 0.1, 'setosa')]

In [16]:
# Podemos crear un DataFrame de Pandas y la lista que nos genera la consulta
# La gran desventaja de esto es que debemos colocar manualmente los nombres de las columnas
# que por defecto no las trae la consulta
cursor.execute("SELECT * FROM IRIS")
iris_dataframe = pd.DataFrame( data = cursor.fetchall(), columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'] )
iris_dataframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
# Finalmente cerramos nuestra conexión de manera segura
cursor.close()
conexion.close()

# SQLalchemy

In [20]:
# Para crear el motor y conectarnos a nuestra base, debe tener la siguiente estructura
# create_engine('postgresql://NOMBRE_DE_USUARIO:CONTRASEÑA@localhost:PUERTO/BASE_DE_DATOS')
motor = create_engine('postgresql://postgres:mike123@localhost:5432/Seminario2019')
motor

Engine(postgresql://postgres:***@localhost:5432/Seminario2019)

In [22]:
# Sin embargo, esta es una forma más simple de poder transformar 
# la data del servidor a Python de manera que los podamos manipular mejor
iris_dataframe = pd.read_sql_query(sql = "SELECT * FROM IRIS", con = motor)
iris_dataframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa